{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}


<h3>Nova Categoria:</h3>
<form action="/admin/categorias/nova" method="POST">
    <div class="card">
        <div class="card-body">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome da categoria" class="form-control mb-4">
            <label for="slug">Slug:</label>
            <input type="text" id="slug" name="slug" placeholder="Digite o slug da categoria" class="form-control mb-4">
            <button type="submit" class="btn btn-success">Criar categoria</button>
        </div>
    </div>


</form>